@use "util";

/** Purely for namespacing default style overrides */

.reactor-sheet {
  overflow: visible;

  .window-content {
    overflow: hidden;
    backdrop-filter: none;
    padding: 0;
  }

  [role="button"] {
    cursor: pointer;
  }
}
