@use "util";

/** Purely for namespacing default style overrides */

.reactor-sheet {
  overflow: visible;

  .window-content {
    overflow: visible;
  }

  [role="button"] {
    cursor: pointer;
  }

  .badge {
    background-color: var(--color-text-selection-bg);
    padding: 2px 3px;
    font-size: 0.75rem;
    border-radius: 4px;
  }

  .actor-info {
    span {
      font-family: "Signika Regular";
    }

    .details {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem 2rem;
    }
  }

  .arrow-divider {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    svg {
      fill: currentColor;
      margin-left: -5%;
      margin-right: -5%;
      width: 110%;
      transform: scaleY(0.25);
    }
  }

  .expandable {
    cursor: pointer;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &::after {
      font-size: 0.8rem;
      content: "►";
      transition: transform 0.2s ease;
    }

    &.expanded::after {
      transform: rotate(90deg);
    }

    & + * {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease;
    }

    &.expanded + * {
      max-height: 1000px;
    }
  }
}
