.demo-application {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 2rem;
  }
  .counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
